<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title></title>
  </head>
  <body>
    <h1 id="test"></h1>

    <form action="#">
      <input id="chore" type="text" name="chore" value=""><button id ="adder" type="button" name="button">Add To Do</button>

    </form>
    <div id="list">

      {{#todo}}
        <form class="" action="#" method="post">
          <button type="button" name="button">Finished?</button>
          {{desc}}
          <br
        </form>
      {{/todo}}


    </div>
    <div id="done">
      {{#done}}
        {{desc}}
        <br>
      {{/done}}

    </div>

  </body>
  <script type="text/javascript" src="/javascript/index.js"></script>
</html>
